body{
    margin:0;
    padding: 0px;
    height: 100vh;
    background-image: url("../img/login.png");
}

#container{
    width:450px;
    height: 350px;
    margin: 150px;
    margin-top: 200px;
    margin-left: 400px;
    border: 1px solid rgb(126, 123, 123);
}

form {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 10px;
}

h1 {
    background-color: rgb(231, 230, 230);
    padding: 10px;
    border: 1px solid rgb(185, 184, 184);
}

.container-form{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.space-form{
    margin-left: 20px;
}

#button-submit{
    margin-top: 15px;
    width: 415px;
    background-color: rgb(4, 136, 4);
    border-radius: 100px;
    border: none;
}

#input-email{
    width: 405px;
}