body{
    height: 100vh;
    margin: 0px;
    font-style: oblique;
    background-image: url("../img/login.png");
    color: white;
}

#container_signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form{
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 30px;
    align-self: center;   
}

form div h1{
    margin-left: 85px;
    color: white;
}

form div input{
    border-radius: 4px;
    width: 140px;
}

#name{
    margin-right: 25px;
}

#email{
    margin-right: 24px;
}

form div{
    padding-top: 15px;
}

#container_signin button{
    margin-left: 98px;
    border-radius: 4px;
    padding: 7px;
    background-color: rgb(26, 100, 164);
    color: white;
}