body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

header div img{
    height: 30px;
    width: 100px;
}

header div a{
    text-decoration: none;
    color: #0072C6;

}

#get_into{
    background-color: #0072C6;
    border-radius: 16px;
    padding: 7px;
}

main div h1 {
    margin: 0;
}

#container_getInto{
    color: white;
}

main div img{
    width: 100%;
    height: 500px;
}

#container_image{
    margin: 0px;
    padding: 0px;
    background-image: url("../img/buy_now.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
}

main div h1{
    margin-top: 150px;
    margin-left: 80px; 
    font-size: 70px;
    color: #0b4064;
}

main div p{
    margin-top: 400px;
    margin-left: 80px; 
    font-size: 30px;
    color: #0b4064;
}

main div a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    background-color: #C43106;
    border-radius: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 150px;
}

#container_account{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

#container_account div img{
  margin-left: 40px;
}

.text_title_account{
    font-size: 24px;
    color: #496374;
    text-align: center;
}

#container_account div p{
    text-align: center;
    color: #333333;
}

#container_account div a{
    text-decoration: none;
    background-color: #0072C6;
    color: white;
    margin-left: 40px;
}

form input{
    
}