
.header-row {
  font-size: 16px;
  font-weight: 500;
}

.item-row {
 font-size: 14px;
 font-weight: 400
}

button {
  font-size: 12px;
}

h3 {
  background-color: rgb(231, 230, 230);
  padding: 10px;
  border: 1px solid rgb(185, 184, 184);
}

.card {
  margin: 20px;
}
